section.container-fluid{
    padding: 0;
}
section {
    margin-bottom: 10px;
}
.list-group-item{
    background-color: #911d1f;
    color: #fff;    
}
#About{
    padding-top: 10px;
    background-image: url('../imgs/bg-section.jpg');
    background-size: cover;
}
#About table{
    opacity: 0.8;
}
.scrollTop{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: bold;
    border: 1px solid #fff5;
}